.hero-banner.js-bg-parallax.row{ class: properties[:image_info] ? 'hero-banner--flickr' : '' }
  = safe_image_tag(properties[:image_url], class: "hero-banner__image", alt: properties[:title])

  .hero-banner__content.row__inner

    - unless properties[:image_info]
      .hero-banner__text
        %p.hero-banner__lead-in
          = properties[:lead_in]
        %h1.hero-banner__header
          - if properties[:slug]
            %a.hero-banner__link{ href: "#{properties[:slug]}", title: properties[:title] }
              = properties[:title]
          - else
            = properties[:title]
        - if properties[:strapline]
          %p.hero-banner__strapline
            = properties[:strapline]

    - if properties[:image_info].present? && properties[:image_info][:attribution].present?
      - image_info = properties[:image_info]
      .hero-banner__image-content
        .hero-banner__image-footer
          %a.hero-banner__source{href: image_info[:attribution_url]}
            %img{src: image_info[:attribution_image_url], class: 'hero-banner__avatar', alt: image_info[:attribution]}
            %span.hero-banner__source-text
              by
            %span.hero-banner__username
              = image_info[:attribution]
          .hero-banner__image-title
            = image_info[:title]

    - elsif image_info = properties[:image_info]
      .hero-banner__image-content
        .hero-banner__image-footer
          .hero-banner__image-title
            = image_info[:title]

    - if properties[:sponsored]
      .hero-banner__sponsor.ad-sponsorTile.is-closed
        .ad-sponsorTile__tag
          Sponsored by
        = ui_component('ads/sponsor_tile', properties: { size: { mapping: "sponsor-logo" } })
