- encoded_url = CGI.escape(properties[:url])
- tweet = properties[:tweet] || encoded_url

.nav--inline
  - if properties[:show_label?]
    %span.sharing__label.nav__item
      Share this

  .social

    %a.social__item.social__item--facebook{ href: "https://www.facebook.com/sharer/sharer.php?u=#{encoded_url}", data: {lpa_category: "share", lpa_action: "facebook", lpa_label: "#{properties[:url]}"} }
      %span.accessibility Share on Facebook
      %span.social__icon.icon--facebook.icon--white

    %a.social__item.social__item--twitter{ href: "https://twitter.com/intent/tweet?text=#{tweet}", data: {lpa_category: "share", lpa_action: "twitter", lpa_label: "#{properties[:url]}"} }
      %span.accessibility Share on Twitter
      %span.social__icon.icon--twitter.icon--white

    %a.social__item.social__item--google-plus{ href: "https://plus.google.com/share?url=#{encoded_url}", data: {lpa_category: "share", lpa_action: "google-plus", lpa_label: "#{properties[:url]}"}}
      %span.accessibility Share on Google+
      %span.social__icon.icon--google-plus.icon--white

    %a.social__item.social__item--stumbleupon{ href: "http://www.stumbleupon.com/submit?url=#{encoded_url}", data: {lpa_category: "share", lpa_action: "stumbleupon", lpa_label: "#{properties[:url]}"}}
      %span.accessibility Share on Stumbleupon
      %span.social__icon.icon--stumbleupon.icon--white
