- if responsive
  %a.nav__item.nav__item--primary.wv--hidden{ href: "http://www.lonelyplanet.com/search" }<
    %i.nav__icon{class: 'icon--search--before icon--white--before'}
    Search

- core_navigation_items.each do |n|
  - if n[:submenu]
    .nav__item.nav__item--primary.nav__submenu__trigger
      - if n[:uri]
        %a.nav__item.nav__item--submenu.js-nav-item{ href: n[:uri] }
          - if responsive
            %i.nav__icon{class: n[:icon_class]}
          = n[:title]
      - else
        %span.nav__item.nav__item--submenu
          = n[:title]

      .nav__submenu{ class: "nav__submenu--#{n[:title].downcase}"}
        .nav--stacked.nav__submenu__content.js-submenu.icon--tapered-arrow-up--after.icon--white--after
          - n[:submenu].each do |sub|
            %a.js-nav-item{ href: sub[:uri], class: "nav__item nav__submenu__item nav__submenu__link nav__submenu__item--#{sub[:style]} #{sub[:icon_class] ? sub[:icon_class] : ''}"}<
              = sub[:title]
  - else
    %a.nav__item.nav__item--primary{ href: n[:uri] }<
      - if responsive
        %i.nav__icon{class: n[:icon_class]}
      = n[:title]