=# THIS TEMPLATE IS NOT ACTUALLY USED YET - JUST FOR THE FILE TO EXIST FOR NOW
- @details = data
.row__inner.flickr-competition
  - if @details && @details.any?
    .competition-title
      %h1
        Leaderboard for
        = @details.tag
        competition
    .competition-subtitle
      %h3
        Last updated
        = [ @details.date_updated, @details.data.comments.count ].join(',')
        images
    %hr
    .competition-details
      - @details.data.comments.take(3).each do |id, entry|
        .competition-entry
          .competition-entry-title
            .competition-user-image
              = link_to image_tag(entry['owner_image']).try(:html_safe), entry['owner_url'], target: '_new'
            .competition-title-text
              = entry['image_title'].try(:truncate,60)
              by
              = link_to entry['owner_name'], entry['owner_url'], target: '_new'
          .competition-entry
            .competition-image
              = link_to image_tag(entry['image_url'], width: '200px'), entry['url'], target: '_new'

          .competition-votes
            - if entry['valid_votes'].any?
              .competition-votes-title
                %h2
                  As voted for by:
              %ul.competition-votes-list
                - entry['valid_votes'].each do |vote|
                  %li.competition-voter-unit
                    = link_to image_tag(vote['authorimage'], class: 'competition-voter-avatar'), vote['authorurl'], target: '_new'
                    = vote['authorname']
        %hr
  - else
    .competition-title
      %h1
      There is no current flickr challenge, check back soon for the next one

- content_for(:stylesheets) do
  = stylesheet_link_tag "application", :media => "all"
