:ruby

  src = "https://maps.googleapis.com/maps/api/staticmap"
  src+= "?size=#{properties[:width]}x#{properties[:height]}"
  src+= "&zoom=#{properties[:zoom]}&scale=#{properties[:scale]}"

  if properties[:marker]
    src+= "&markers=icon:#{CGI.escape(properties[:icon])}|#{properties[:latitude]},#{properties[:longitude]}"
  else
    src+= "&center=#{properties[:latitude]},#{properties[:longitude]}"
  end

%img.poi-map__img{ src: src, width: properties[:width], height: properties[:height], alt: properties[:alt] }
