= render 'styleguide/partials/shared'

.context--content.copy--body

  .card.styleguide-intro
    %h1.copy--h1 Stylesheet Trend and Comparison

  .card.styleguide-intro
    - if @result.present?
      .grid-wrapper--10.perf--row
        .col--one-third
          %span.copy--h2 Stylesheet
        .col--two-thirds
          .grid-wrapper--10
            .col--one-quarter
              %span.copy--h2 Size
            .col--one-quarter
              %span.copy--h2 Gzipped
            .col--one-quarter
              %span.copy--h2 7 Day
            .col--one-quarter
              %span.copy--h2 1 Day

      - @result.each do |stylesheet|
        .grid-wrapper--10.perf--row
          .col--one-third.stat--medium
            = stylesheet[:name]

          .col--two-thirds
            .grid-wrapper--10
              .col--one-quarter.stat--medium
                #{stylesheet[:core][:size]}kb
              .col--one-quarter.stat--medium
                #{stylesheet[:core][:gzippedSize]}kb
              .col--one-quarter.stat--medium
                .stat--trend.icon--white--before{class: stylesheet[:compare][:last_week] > 0 ? "stat--red icon--arrow-up--before" : stylesheet[:compare][:last_week] < 0 ? "stat--green icon--arrow-down--before" : "stat--stable"}
                  #{stylesheet[:compare][:last_week]}%

              .col--one-quarter.stat--medium
                .stat--trend.icon--white--before{class: stylesheet[:compare][:yesterday] > 0 ? "stat--red icon--arrow-up--before" : stylesheet[:compare][:yesterday] < 0 ? "stat--green icon--arrow-down--before" : "stat--stable"}
                  #{stylesheet[:compare][:yesterday]}%

    - else
      %h4.copy--h4 Sorry, something seems to be playing up.
      %p
        Check back later, hopefully it's merely a temporary thing.
