= render 'layouts/core/doctype_declaration'

%head
  = render 'layouts/core/head', tynt: true

%body.js-wrapper
  .row.row--primary
    .nav-container
      %a.media--lp-logo.logo--header.icon--lp-logo.icon--white(href='http://www.lonelyplanet.com')
      .wv--split--right
        %span.notice.notice--secure
          Secure Checkout
  .row.row--content
    .row__inner.row__inner--content.copy--freight
      = yield
  .row.row--footer
    = render 'layouts/checkout/footer'
  .js-config.is-hidden
    = yield :scripts

- content_for(:stylesheets) do
  = stylesheet_link_tag 'checkout', :media => "all"
