= render 'layouts/partials/doctype_declaration'

%head
  = render 'layouts/custom/head', tynt: (defined?(tynt) ? tynt : true), include_js: true, responsive: false, third_party: false, legacy_lp: false, app_core: false, default_title: true

%body
  = ui_component('lightbox')
  %script#tmpl-preloader{ type: 'text-mustache' }
    = ui_component('preloader')

  .wrapper.js-wrapper
  
    = render 'layouts/custom/pre_header', third_party: false, ads_header: true
    = render 'layouts/custom/post_header', search: true, user_nav: true, include_js: true, nav_primary: true, responsive: false


    .row.row--content#js-row--content
      - if content_for?(:secondary)
        .row.row--secondary#js-secondary-nav
          = yield :secondary

      - if (yield :alerts).present?
        .row__inner.row--alerts
          = yield :alerts

      = yield

    .wrapper.wrapper--footer
      = yield :breadcrumbs
      = render 'layouts/custom/footer', include_js: true, ads_footer: false, nav_sitemap: true, about: true, languages: true, third_party: false, legacy_lp: false

  = render 'layouts/partials/snippets/one_by_one'


  - if defined? Variant
    /
      = "build: #{Variant.full_namespace}"
