= render 'layouts/core/doctype_declaration'

%head
  = render 'layouts/core/head', responsive: true, suppress_tynt: (defined?(suppress_tynt) ? suppress_tynt : false)

%body.responsive
  .wrapper.js-wrapper

    %a.media--lp-logo.logo--header.icon--lp-logo.icon--white(href='http://www.lonelyplanet.com' title='Return to homepage')

    .nav-container
      &nbsp;

    .row.row--content{ id: 'js-row--content' }

      - if (yield :alerts).present?
        .row.row--alerts
          .row__inner
            = yield :alerts

      = yield

    .wrapper.wrapper--footer
      &nbsp;

    = render 'layouts/core/snippets/footer_js'
