= render 'layouts/core/doctype_declaration'

%head
  = render 'layouts/core/head', tynt: (defined?(tynt) ? tynt : true), include_js: true, responsive: true

%body.responsive
  = ui_component('lightbox')
  %script#tmpl-preloader{ type: 'text-mustache' }
    = ui_component('preloader')
  = render 'layouts/core/snippets/accessibility'
  = render 'layouts/core/snippets/leaderboard'
  .wrapper.js-wrapper
    = render 'layouts/core/snippets/primary_navigation_bar', user_nav: true, include_js: true, search: true, nav_primary: true, responsive: true
    .row.row--content{id: @no_wallpaper ? "" : "js-row--content"}
      - if (yield :secondary).present?
        .row.row--secondary#js-secondary-nav
          .row__inner.row__inner--secondary
            = yield :secondary
      - if (yield :alerts).present?
        .row.row--alerts
          .row__inner
            = yield :alerts

      = yield

    .wrapper.wrapper--footer
      = yield :breadcrumbs
      = render 'layouts/core/snippets/body_footer', include_js: true

    = render 'layouts/core/snippets/footer_js'
    = render 'layouts/core/snippets/pointer_cover'

    = render 'layouts/core/snippets/one_by_one'

    - if defined? Variant
      /
        = "build: #{Variant.full_namespace}"
