!!! 5
%html{ class: "no-js no-freight base", lang: "en" }

  %head
    = render 'custom_layouts/head', tynt: (defined?(tynt) ? tynt : true), responsive: false, third_party: false, include_js: true, legacy_lp: false, app_core: false
    = stylesheet_link_tag 'styleguide', :media => "all"

  %body

    .wrapper.js-wrapper
      .nav-container
        .row.row--primary
          .split--left
            .wv--nav--inline.nav--primary#js-nav--primary
              %a.media--lp-logo.logo--header.icon--lp-logo.icon--white{href: 'http://rizzo.lonelyplanet.com/styleguide'}
              - @app.primary_nav_items.each do |item|
                %a.nav__item.nav__item--primary{ href: "#{item[:slug]}" }<
                  = item[:name]

      .row.row--content#js-row--content

        .row.row--secondary#js-secondary-nav
          .row__inner.row__inner--secondary
            = yield :secondary
            
        .row__inner.row__inner--content

          .grid-wrapper--10
            = ui_component('navigation/left', properties: @app.left_nav_items)

            .main-content.stack#js-main-content
              = yield

        = ui_component('lightbox')
        %script#tmpl-preloader{ type: 'text-mustache' }
          = ui_component('preloader')

    .js-config.is-hidden
      = render 'layouts/core/snippets/footer_js', third_party: false
      = yield :scripts

      = javascript_include_tag 'prism'

    = render 'layouts/core/snippets/pointer_cover'
